{
	"nickname": "TimHortons",
	"username": "TimHortons",
	"real_name": "TimHortons",
	"nickserv_pass": "hunter2",
	"server_name": "irc.freenode.net",
	"port": 6697,
	"tls": true,
	"channels": ["#timhortonstest"],
	"db_name": "timhortons",
	"db_username": "timhortons",
	"db_password": "",
	"training": false,
	"trainfile": "./irc.log",
	"ignored": [""],
	"moderators": [""],
	"trigger": "Great! Bye now",
	"posting": false,
	"chance": 10,
	"min_gap_seconds": 30,
	"max_line_length": 20
}
